
@import url(https://fonts.google.com/specimen/Protest+Guerrilla);
*{
    margin: auto;
    padding: 20px;
    background-image: url(../download.jpeg);
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    font:Protest Guerrilla;
    
}

.header li{
    background: none;
    
}
